<div class="duplication-container">
  <div class="title">
    <h2>Duplication</h2>
    <p>Please enter the name for a new device</p>
    <mat-form-field class="example-full-width">
      <mat-label>Device</mat-label>
      <input
        matInput
        [formControl]="deviceNameField"
        placeholder="Device"
        [ngModel]="deviceNameField.value"
        (ngModelChange)="onDeviceNameChanged($event)"
        required
      />
      @if (deviceNameField.hasError('uniqueName')) {
        <mat-error>You must enter a unique device name.</mat-error>
      }
    </mat-form-field>
  </div>
  <div class="button-container">
    <button [disabled]="deviceNameField.hasError('uniqueName')" mat-flat-button color="primary" (click)="onNextClick()">
      Next
    </button>
  </div>
</div>
