<div class="kra-container">
  <input-form 
    [data]="deviceData" 
    [disable]="activeInputForm" 
    (formValid)="onFormValid($event)" 
    (valueChanged)="onInputFormValueChange($event.device)">
  </input-form>
  <div class="kra-action-container">
    <ng-container [ngTemplateOutlet]="getCurrentTemplate() || default"></ng-container>
    <ng-template>
        <initial-page (onNextClick)="changeTemplate($event)" [disable]="activeForm"></initial-page>
    </ng-template>
    <ng-template>
        <invalidation (invalidCheckAction)="changeTemplate($event)"></invalidation>
    </ng-template>
    <ng-template>
      <duplication [deviceName]="currentDevice" (nextClicked)="changeTemplate($event.state);"></duplication>
    </ng-template>
    <ng-template>
        <programming (programmingAction)="changeTemplate($event)"></programming>
    </ng-template>
    <ng-template>
        <result [deviceNames]="currentDevice"></result>
    </ng-template>
    <ng-template #default>
      <div class="title-container">
        <h2>Loading....</h2>
      </div>
    </ng-template>
  </div>
</div>

      